html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

.bc-transparent {
  background-color: transparent;
}

.c-white {
  color: white;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.ta-justify {
  text-align: justify;
}

.b-none {
  border: none;
}

.b-b-1px {
  border-bottom: 1px solid;
}

.h6 {
  font-size: .6em;
}

.h5, .p {
  font-size: .8em;
}

.h4 {
  font-size: 1em;
}

.h3 {
  font-size: 1.5em;
}

.h2 {
  font-size: 2em;
}

.h1 {
  font-size: 3em;
}

.p-0 {
  padding: 0;
}

.p-1em {
  padding: 1em;
}

.p-b-1em {
  padding-bottom: 1em;
}

.p-lr-1em {
  padding-left: 1em;
  padding-right: 1em;
}

.p-lr-3em {
  padding-left: 3em;
  padding-right: 3em;
}

.p-tb-1-5em {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.m-0 {
  margin: 0;
}


.m-1em {
  margin: 1em;
}

.m-b-0-5em {
  margin-bottom: .5em;
}

.m-b-2em {
  margin-bottom: 2em;
}

.m-tb-0-75em {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.m-tb-1em {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-lr-3em {
  margin-left: 3em;
  margin-right: 3em;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #84BD00;
  color: white;
}

.total {
  color: #84BD00;
}

.footer {
  background-color: #84BD00;
  color: white;
  display: block;
  height: 100px;
  position: relative;
}

.footer .copyright {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.row {
  overflow: overlay;
  clear: both;
}


[class*="col-"] {
  float: left;
  display: inline-block;
}

.col-sm-1 {
  width: 8.33%;
}

.col-sm-2 {
  width: 16.66%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-12 {
  width: 100%;
}

@media print, (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-12 {
    width: 100%;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .no-print, .elm-overlay {
    display: none !important;
  }

  .header {
    background-color: #84BD00 !important;
    color: #FFF !important;
  }

  .footer {
    background-color: #84BD00 !important;
    color: #FFFFFF !important;
  }

  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* elm datepicker */

.elm-datepicker--input {
    border: none;
    width: 100%;
    display: block;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.elm-datepicker--input:focus {
  outline: 0; }

.elm-datepicker--picker {
  position: absolute;
  border: 1px solid #CCC;
  z-index: 10; }

.elm-datepicker--picker-header,
.elm-datepicker--weekdays {
  background: #F2F2F2; }

.elm-datepicker--picker-header {
  display: flex;
  align-items: center; }

.elm-datepicker--prev-container,
.elm-datepicker--next-container {
  flex: 0 1 auto; }

.elm-datepicker--month-container {
  flex: 1 1 auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column; }

.elm-datepicker--month,
.elm-datepicker--year {
  flex: 1 1 auto;
  cursor: default;
  text-align: center; }

.elm-datepicker--year {
  font-size: 0.6em;
  font-weight: 700; }

.elm-datepicker--prev,
.elm-datepicker--next {
  border: 6px solid transparent;
  display: block;
  width: 0;
  height: 0;
  padding: 0 0.2em; }

.elm-datepicker--prev {
  border-right-color: #AAA; }
  .elm-datepicker--prev:hover {
    border-right-color: #BBB; }

.elm-datepicker--next {
  border-left-color: #AAA; }
  .elm-datepicker--next:hover {
    border-left-color: #BBB; }

.elm-datepicker--table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.8em; }
  .elm-datepicker--table td {
    width: 2em;
    height: 2em;
    text-align: center; }

.elm-datepicker--row {
  border-top: 1px solid #F2F2F2; }

.elm-datepicker--dow {
  border-bottom: 1px solid #CCC;
  cursor: default; }

.elm-datepicker--day {
  background-color: #FFFFFF;
  cursor: pointer; }
  .elm-datepicker--day:hover {
    background: #F2F2F2; }

.elm-datepicker--disabled {
  cursor: default;
  color: #DDD; }
  .elm-datepicker--disabled:hover {
    background: inherit; }

.elm-datepicker--picked {
  color: white;
  background: #84BD00; }
  .elm-datepicker--picked:hover {
    background: #84BD00; }

.elm-datepicker--today {
  font-weight: bold; }

.elm-datepicker--other-month {
  color: #AAA; }
  .elm-datepicker--other-month.elm-datepicker--disabled {
    color: #EEE; }
  .elm-datepicker--other-month.elm-datepicker--picked {
    color: white; }
